header {
}

#city-title-parent{
    position: -webkit-sticky;
    position: sticky;

    top: 0;

    z-index: 999;
    background-color: white;
}

header div {
}

header div h1 {
}
.seatOdd {
    background-color: gray;
}
.seatEven {
    background-color: rgb(173, 170, 170);
}
.site-header{
    border-bottom: 5px solid black;
}
#city-title {
    width: 100;
    display: flex;
    justify-content: center;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 2px 2px 2px black;
}
#nav-bar{
    display: none;
}
@media screen and (max-width: 390px) {
    #nav-bar {
        display: flex;
        justify-content: space-around;
    }
}

