header {
}

#city-title-parent{
    position: -webkit-sticky;
    position: sticky;

    top: 0;

    z-index: 999;
    background-color: white;

    background-image: url(./img/city.jpg);
    background-position: left center;
    height: 120px;
    width: 100%;
    color: white;
}

#weather {
    font-size: 25px;
}

header div {
}

header div h1 {
}
.seatOdd {
    background-color: gray;
}
.seatEven {
    background-color: rgb(173, 170, 170);
}
.site-header{
    border-bottom: 5px solid black;
}

