header {
}

#city-title-parent{
    position: -webkit-sticky;
    position: sticky;

    top: 0;

    z-index: 999;
    background-color: white;
}

header div {
}

header div h1 {
}
.seatOdd {
    background-color: gray;
}
.seatEven {
    background-color: rgb(173, 170, 170);
}
.site-header{
    border-bottom: 5px solid black;
}
